.studentbackground 
  .row
    .col-md-6.col-lg-6.teacher
      %h2.student
        CBM
      %div.chart
        %br
      = link_to "Add a new CBM score", new_cbm_path
      %br
  .col-md-6.col-md-offset-3
    %table.table.table-striped

      %tr
        %th
        %th Name
        %th Date
        %th Score
        %th Description
        

      - @cbms.each do |cbm|
        %tr
          %td= cbm.student.id
          %td= cbm.student.first_name + ' ' + cbm.student.last_name
          %td= cbm.date_taken.strftime("%m/%d/%Y")
          %td= cbm.score
          %td= cbm.description
          
          

  %table.table.table-striped
  \...
    
