.container.marketing  
  .row.featurette
    .col-md-6.col-lg-12
      %h2.featurette-heading
        CBM
      %div.chart
        %br
      = link_to "Add a new CBM score", new_cbm_path

      /= content_tag :div, "", id: "cbm_chart", data: {cbms: cbm_chart_data}
      %br
  .col-md-6.col-lg-12
    %table.table.table-striped

      %tr
        %th
        %th Name
        %th Date
        %th Score
        %th Description
      
      
      - @cbms.each do |cbm|
        %tr
          %td= cbm.student.id
          %td= cbm.student.first_name + ' ' + cbm.student.last_name
          %td= cbm.date_taken.strftime("%m/%d/%Y")
          %td= cbm.score
          %td= cbm.description

%table.table.table-striped
  \...
    
