=form_for(@student) do |f|
  - if @student.errors.any?
    - @student.errors.full_messages.each do |message|
      = message
= form_for @student do |f|
  .form-group
    .list-group-item
      %br
        = f.label :gender
        = f.radio_button(:gender, "male")
        = f.label(:gender, "male")
        = f.radio_button(:gender, "female")
        = f.label(:gender, "female")
      %br
      = f.label :first_name
      = ':'
      = f.text_field :first_name, class: "form-control"
      %br
      = f.label :last_name
      = ':'
      = f.text_field :last_name, class: "form-control"
      %br
      .form-group
        = f.label :date_of_birth
        = f.date_field :date_of_birth, :start_year => Date.today.year - 100, :end_year => Date.today.year, class: "form-control"
      %br
      .form-group
        = f.label :grade
        = ':'
        = f.text_area :grade, class: "form-control"
      %br
      .form-group
        = f.label :strengths
        = ':'
        = f.text_area :strengths, class: "form-control"
        %br
      .form-group
        = f.label :weaknesses
        = ':'
        = f.text_area :weaknesses, class: "form-control"
    .list-group-item
      %strong
        Reading Program:
        %br
      .checkbox
        - @programs.each do |program|
          %label
            = check_box_tag 'student[program_ids][]', program.id, @student.programs.include?(program)
            = program.focus
          %br
  %br
  .col-md-1.col-md-offset-4
  =f.submit "Submit", class: "btn btn-primary"


