.col-md-6.col-md-offset-3
  .text-center
    %h2
      Students
      %br
    = link_to "Add a Student", new_student_path
- @students.each do |student|
  .col-md-4
    .list-group-item
      .text-center
        = link_to student.first_name, student_path(student)
        = link_to student.last_name, student_path(student) 
        %br
        =student.date_of_birth.strftime("%m/%d/%Y")
        %br
        = link_to "Edit student", edit_student_path(student)
        |
        = link_to "Delete student", student_path(student), method: :delete
        %br
        %br

.div
.col-md-4
  = link_to "Welcome", root_path
  

/ .col-md-4
/   %br
/   %center 
/     %h1 Groups Offered:
/     - @groups.each do |group|
/       %center
/         %strong
/         = link_to group.name, group_path(group)

  

  