.teacherbackground
  .row
    .col-md-6.col-lg-6.teacher
      %h2.student
        Teachers
  
  .row.addteach
    .col-sm-6.col-md-12
      .teacherlink
        .text-center
          - @teachers.each do |teacher|
            .div
              .col-md-3.col-md-offset-6.teachlist
                .list-group-item
                  .text-center
                    
                    = link_to teacher.name, teacher_path(teacher)
                    
                    %br
                    %br
                  - if can? :update, Teacher
                    = link_to edit_teacher_path(teacher) do
                      %span.glyphicon.glyphicon-pencil
                    
                    = link_to teacher_path(teacher), method: :delete do
                      %span.glyphicon.glyphicon-remove
                  %br
          - if can? :create, Teacher
            .div 
              .col-md-3.col-md-offset-6.teachlist 
                .list-group-item 
                  .text-center.addTeacher        
                    Add Teacher
                  %br
                  = link_to new_teacher_path do
                    %span.glyphicon.glyphicon-plus.addTeacher
      .container 
        .row
          .col-sm-6.col-md-12.col-lg-12    
            .cbmlink
              = link_to "CBM", cbms_path
              %br
              %br

    