.container.marketing  
  .row.featurette
    .col-md-6.col-lg-6      
      %h2.featurette-heading
        = @teacher.name
        %span.text-muted 
          = @teacher.grade
      %br
      = link_to "Edit", edit_teacher_path(@teacher)
      |
      = link_to "Delete", teacher_path(@teacher), method: :delete

.container.marketing      
  .row.featurette
    .col-md-6.col-lg-6
      .list-group-item
        .text-center
          %p.lead 
            I teach the following reading groups:
            %br
          - @programs.each do |program|
            %strong 
              = program.name 
            %br
              Focus:
              = program.focus
.container.marketing      
  .row.featurette
    .col-md-6.col-lg-6
      %br
      = link_to "Back to teachers", teachers_path
          
   
            
      